<h1>Stupid Coaching</h1>

<div>
  <form action="/answer" method="get" data-turbo="false" * {box-sizing:border-box;}>
    <input type="text" class="rounded-input" name="question" placeholder="Ask something"
    value="<%= params[:question] %>">
    <input type="submit" class="rounded-input" value="Ask!">
  </form>
</div>
